* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #330066;
}

h1 {
  color: #330066;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.Highlights {
  min-height: 100%;
}

.Review {
  border: none;
  align-items: center;
  margin-bottom: 5vh;
}

#ReviewTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 5vh;
  
}

.ReviewPhoto {
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  margin-bottom: 3vh;
}

#lastCardHighlight {
  margin-bottom: -25vh;
}

#ReviewTab {
  color: #330066;
}

.formBar {
  border-radius: 0;
  border-color: #330066;
  
}

.formBarRed {
  border-radius: 0;
  border-color: red;
}

.btnBar {
  border-radius: 0;
  background-color: #330066;
  color: white;
 
}

.btnBarGray {
  border-radius: 0;
  background-color: #BEBEBE;
  color: white;
 
}

.navlinks {
  color: #330066;
}

.footer{
  background-color: #330066;
  position: relative;
  bottom: -30vh;
}

.footer-content{
  color: white;
  margin-top: -1.5vh;
}



.footer-content-name{
  color: white;
  text-align: left;
  margin-top: 5vh;
}

.btnBarProd {
  color: #330066;
  border: 2px solid #330066;
  border-radius: 0;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.head-image{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.registerLink {
  color: #330066;
}

.head-text {
  position: relative;
}

.text-on-image {
  position: absolute;
  left: 20%;
  top: 30%;
}

.whiteText{
  color: white;
}

.bold{
  font-weight: 700;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .text-xs {
    font-size: 25px;
  }

  .text-on-image {
    position: absolute;
    left: 10%;
    top: 30%;
  }

  #ReviewTitle {
    font-size: 25px;
  }

  #ReviewText {
    font-size: small;
    text-align: center;
    margin-bottom: -7vh;
  }
}

/* 
  Main colors:

  Violet: #8F00FF 330066
  White: #FFFFFF
  font family: 'Poppins' via google fonts
  
*/